@import url('https://fonts.googleapis.com/css?family=Merienda+One|Montserrat&display=swap');

$title-color: #6d3939;
$secondary-color: #706c61;
$white: #ffffff;
$blue : #00B4CC;
$font-title: 'Merienda One', cursive;
$font-content: 'Montserrat', sans-serif;
$mainFont: 'Montserrat', sans-serif;


.profileList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; 
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #f1ecdf;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  color: black;
}

.flip-card-back {
  background-color:$title-color;
  color: $white;
  transform: rotateY(180deg);
  text-align: left;

  .back-content{
    margin: 1rem;
    font-size: 14px;
  }
}
.profile-image{
  max-width: 100%;
  height: 90%;
  margin: 0.5rem;
 }

.name {
  font-weight: bold;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  background-color: #e0dcdc85;

}
}