@import url('https://fonts.googleapis.com/css?family=Merienda+One|Montserrat&display=swap');
$mainWidth: 80%;

$title-color: #6d3939;
$secondary-color: #333333;
$blue : #00B4CC;
$white: #ffffff;
$back-color: #e1f4f3;
$red: #e0000e;
$yellow: #fddb3a;
$font-title: 'Merienda One', cursive;
$font-content: 'Montserrat', sans-serif;
$mainFont: 'Montserrat', sans-serif;


.App {
  text-align: center;
  width: 100%;
  height: 100%;
  .header {
    display: inline-flex;    
    .title {
      padding-left: 1rem;
      padding-right: 1rem;
      font-family: $font-title;
      color: $title-color;   
      text-shadow: 0px 1px 0px #ABABAB, 
                       0px 2px 3px #828282, 
                       0px 3px 0px #4F4F4F, 
                       0px 4px 0px #4F4F4F, 
                       0px 5px 0px #4F4F4F, 
                       0px 6px 1px rgba(0,0,0,0.7), 
                       0px 10px 5px rgba(0,0,0,0.5);                    
  
    }
    .logo{
      width: 3rem;
      height: 4rem;
      padding-top: 1rem;
    }
  }

}

body, html {
	padding: 0;
	margin: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}
body {
  font-family: $font-content;
    background: -moz-linear-gradient(top,  rgba(139,213,203,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(139,213,203,1)), color-stop(37%,rgba(227,234,237,1)), color-stop(100%,rgba(200,215,220,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(139,213,203,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(139,213,203,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(139,213,203,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(139,213,203,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */
    background-repeat:no-repeat;
    background-attachment: fixed;
}



